
body { background-color:black;
    background-image: url("https://i.pinimg.com/564x/2e/08/d6/2e08d620829673d88c0f3f0dee3e8524.jpg");
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}


h1{
    font-family:"Knewave";
    color:black;
    text-shadow: 3px 2px red;
    text-align: center;
    font-size: xx-large;
}

.icon-bar {
    width: 10px; /* Set a specific width */
    background-color: black; /* Dark-grey background */
}

.icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: black; /* White text color */
    font-size: 36px; /* Increased font-size */
    text-shadow: 3px 2px red;
    font-family: "Knewave";
}

.icon-bar a:hover {
    background-color:black ; /* Add a hover color */
    
}

.active {
    background-color: ; /* Add an active/current color */
}

div.gallery {
    margin: 400px;
    border: 10px solid red;
    float: center;
    width: 400px;
    top: 100px;
    font-family: "Knewave";
    text-shadow: 3px 2px red;
    color: black;
    font-size: xx-large;
}

div.gallery:hover {
    border: 10px solid red;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}


